html{
    height: 120%;
}
body {
    height: 100%;
    width: 100%;
    background-color: rgb(216, 244, 249);
    background-image: url("../images/b2.jpg");
    background: radial-gradient(circle, rgb(233, 255, 133), #99f0ff);
    background-repeat: no-repeat;
    background-position: center;
    background-size:120% 120%;
  }
.img{
    width:80%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0  50px 20px rgb(234, 241, 241);
}
.img:hover{
    transform:  translateZ(1px); 
    text-align: center; 
    opacity: 0.6;  /*透明框的透明度*/
    transition: 1s .3s opacity;
    animation: rota 2s linear infinite;
}
h1{
    font-family:Verdana, Geneva, Tahoma;
    font:bold;
    font-size: xx-large;
    position: absolute;
    width: 50%;
    left: 25%;
    display: flex;
    justify-content: center;
    color: rgb(7, 1, 6);
}
h1:hcover{
    transform:  scale(1.5); 
    text-align: center; 
    opacity: 0.6;  /*透明框的透明度*/
    transition: 1s .3s opacity;
    
}
h2{
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: black;  
}
a{
    text-decoration: none;
}
#yxy{
    /* background-color: bisque; */
    position: absolute;
    top:20%;
    left: 20%;
    
}
#fjw{
    /* background-color: bisque; */
    position: absolute;
    top:20%;
    left: 60%;
    
}
#zzl{
    /* background-color: bisque; */
    position: absolute;
    bottom:20%;
    left: 20%;
    
}
#lzj{
    /* background-color: bisque; */
    position: absolute;
    bottom:20%;
    left: 60%;
    
}
div{
    width: 15%;
    height: 15%;
}
.gif-container {
    position: absolute;
    width: 10%;
    height: auto;
    bottom: 15%;
    left: -1%;
}
#tianyi {
    width: 100%;
    height: auto;
    position: absolute;
}
#classs{
    bottom: 10%;
    right: 10%;
}
@keyframes rota {
    0% {
        transform: scale(1) rotateZ(0);
    }
    50% {
        transform: scale(1.2) rotateZ(180deg);
    }
    100% {
        transform: scale(1) rotateZ(360deg);
    }
  }
  