@charset "utf_8";
body footer {
	background-color: black;
	color: white;
	font-size: x-small;
	margin: 5%;
	padding: 10px;
	font-weight: 600;
	text-align: center;
	clear: both;
}
body header nav {
	background-color: #000000;
	color: #FFFFFF;
	margin-top: 0%;
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 5%;
	padding-top: 0.5px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0.5px;
	text-align: left;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	font-variant: small-caps;
	font-size: xx-large;
}
.section1 h1 {
	width: 30%;
	margin-left: 15%;
	margin-right: 2.5%;
	font-size: 1.1em;
	text-shadow: 2px 2px 1px #FFFFFF;
	padding-right: 230px;
	background-image: url(naohua.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right 0;
	margin-top: 65px;
}



body header h1 {
	font-family: andika;
	font-style: normal;
	font-weight: 400;
	font-size: xx-large;
	text-shadow: 0px 0px #FFFFFF;
}
.section1 {
	float: left;
	width: 35%;
	margin-top: 10%;
	margin-left: 3%;
	font-size: xx-large;
	text-shadow: 0px 0px #FFFFFF;
}
.section2 {
	width: 50%;
	margin-left: 4%;
	margin-right: 5%;
	float: right;
	background-color: #8782C3;
	border-bottom: 10px solid #000000;
	border-top: 10px solid #000000;
	margin-bottom: 5%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}
a   {
	color: #97D3EC;
}

body {
	background-image: url(%E8%83%8C%E6%99%AF1.jpg);
	background-size: cover;
}
.hand {
	padding-right: 25px;
	background-image: url(R-C.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right 0%;
	-webkit-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}
.hand:hover {
	background-position: 0;
	color: #FFFFFF;
}
